/*  COSTO POR SERVICIO  */
body {
    font-family: "IBM Plex Sans"
}
#wrapper-barra-header {
    background-color: #ff0e48;
    max-height: 100px;;
}
#imagen-mega {
    max-width: 200px;
}
#wrapper-bg-image {
    /* background-size: auto; */
   /*  height: 60vh; */
    max-width: 100vw;    
    /* background-image: url('../img/banners/Banner\ Landing\ cps.jpg');
    background-position: center;
    background-repeat: no-repeat; */
     
}

#wrapper-texto-landing {
    margin-top: 1.5vh;
}
.texto-landing {
    font-size: 3.5em;
    color: #ff0e48;
    line-height: 0.75em;
    margin-top: 1vh;
}
hr {
    height: 2px;
    background: #ff0e48;
}
#texto-linea {
    color: #ff0e48;
    font-size: 2.25em;
    margin-bottom: 1em;
}
#icono-cps {
    max-width: 100px;
}
#wrapper-descripcion-cps {
    background-color: #ff0e48;    
}
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.wrapper-col-cps {
    margin-top: 5em;
    margin-bottom: 5em;
}
.icono-desc-cps {
    max-height: 80px;
}
.texto-descripcion {
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    font-size: 1.4em;
    line-height: 2em;
}
#wrapper-contacto {
    margin-top: 3em;
}
#texto-contacto {
    font-size: 2.25em;
    line-height: 1em;
}
#form-cps {
    margin-top: 1.5em;
}
.inputs{
    display: inline-block;
    width: 30%;
    border: 1px solid black;
}
#input1 {
    float: left !important;
}
#input3 {
    float: right !important;
}

#textarea-cps {
    float: left;
    margin-top: 1em;
    width: 100%;
    height: 10em;
    border: 1px solid black;
}
#submit-cps {
    background-color: #333;
    height: 25px;
    color: white;
    border: none;
    margin-top: 1em;
    width: 100%;
    border-radius: 2%;
    margin-bottom: 5em;
}

/*  COSTO POR COPIA */
#wrapper-barra-header-cpc{
    background-color: #e17f00;
}
.texto-landing-cpc {
    font-size: 3.5em;
    color: #e17f00;
    line-height: 0.75em;
    margin-top: 1vh;
}
#linea-landing-cpc {
    height: 2px;
    background: #e17f00;
}
#texto-linea-cpc {
    color: #e17f00;
    font-size: 2.25em;
    margin-bottom: 1em;   
}
#wrapper-descripcion-cpc {
    background-color: #e17f00;    
}
#megatech-la,   
#megatech-la div.row {
	max-height: 5vh !important;
}
#imagen-mega-la {
	max-height: 5vh !important;
}
#wrapper-mega-la {
	margin-left: 0px !important;
	margin-right: 0px !important
}
#wrapper-socialmedia {
}
#lista-socialmedia {
	display: inline-block;
	vertical-align: middle;
	margin-top: 1em;
}
.item-socialmedia {
    display: inline-block;
    vertical-align: middle;
}
.icono-socialmedia {
	font-size: 2em !important;
	color: #3b3b3b;
	margin-left: 10px;
}
.icono-socialmedia:hover {
	color: rgb(201, 92, 26);
}

/*  SOPORTE PYMES */
#wrapper-barra-header-sp{
    background-color: #00709c;
}
.texto-landing-sp {
    font-size: 3.5em;
    color: #00709c;
    line-height: 0.75em;
    margin-top: 1vh;
}
#linea-landing-sp {
    height: 2px;
    background: #00709c;
}
#texto-linea-sp {
    color: #00709c;
    font-size: 2.25em;
    margin-bottom: 1em;   
}
#wrapper-descripcion-sp {
    background-color: #00709c;    
}

/* SOLUCIONES MOBILE */
#wrapper-barra-header-sm {
    background-color: #ff9e6e;
}

.texto-landing-sm {
    font-size: 3.5em;
    color: #ff9e6e;
    line-height: 0.75em;
    margin-top: 1vh;
}

#linea-landing-sm {
    height: 2px;
    background: #ff9e6e;
}

#wrapper-descripcion-sm {
    background-color: #ff9e6e;
}

#icono-sm {
    max-height: 75px;
}

/*  MIGRACION NUBE */

#wrapper-barra-header-mn {
    background-color: #29abe2;
}

.texto-landing-mn {
    font-size: 3.5em;
    color: #29abe2;
    line-height: 0.75em;
    margin-top: 1vh;
}

#linea-landing-mn {
    height: 2px;
    background: #29abe2;
}

#texto-linea-mn {
    color: #29abe2;
    font-size: 2.25em;
    margin-bottom: 1em;
}

#wrapper-descripcion-mn {
    background-color: #29abe2;
}


/* CONSULTORIA IT */
#wrapper-barra-header-ci {
    background-color: #878787;
}

.texto-landing-ci {
    font-size: 3.5em;
    color: #878787;
    line-height: 0.75em;
    margin-top: 1vh;
}

#linea-landing-ci {
    height: 2px;
    background: #878787;
}

#texto-linea-ci {
    color: #878787;
    font-size: 2.25em;
    margin-bottom: 1em;
}

#wrapper-descripcion-ci {
    background-color: #878787;
}

/* CONTACT CENTER */

#wrapper-barra-header-cc {
    background-color: #ffc200;
}

.texto-landing-cc {
    font-size: 3.5em;
    color: #ffc200;
    line-height: 0.75em;
    margin-top: 1vh;
}

#linea-landing-cc {
    height: 2px;
    background: #ffc200;
}

#texto-linea-cc {
    color: #ffc200;
    font-size: 2.25em;
    margin-bottom: 1em;
}

#wrapper-descripcion-cc {
    background-color: #ffc200;
}

/* WEB DEVELOPMENT */

#wrapper-barra-header-dw {
    background-color: #662d91;
}

.texto-landing-dw {
    font-size: 3.5em;
    color: #662d91;
    line-height: 0.75em;
    margin-top: 1vh;
}

#linea-landing-dw {
    height: 2px;
    background: #662d91;
}

#texto-linea-dw {
    color: #662d91;
    font-size: 2.25em;
    margin-bottom: 1em;
}

#wrapper-descripcion-dw {
    background-color: #662d91;
}

@media only screen and (min-width: 1900px) {
    #icono-cps {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .texto-landing,
    .texto-landing-cpc,
    .texto-landing-sp,
    .texto-landing-sm,
    .texto-landing-ci,
    .texto-landing-mn,
    .texto-landing-cc,
    .texto-landing-dw {
        font-size: 2em;
    }
    #icono-cps {
        max-width: 50px;
    }
    #texto-linea {
        font-size: 1.5em;
    }
    #lista-socialmedia {
        padding: 0;
    }
}



























/* EN CONSTRUCCION */
#wrapper-construccion {
    width: 100vw;
    height: 100vh;
    background-color: #3b3b3b;
}
#texto-construccion {
    margin-top: 1.5em;
    font-family: Megrim;
    color: white;
    font-size: 2em;
}